.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* My CSS */ 

* {
  margin: 0; 
  box-sizing: border-box; 
} 

/* Navbar */
.Navbar {
  display: flex; 
  align-items: center; 
  max-width: 600px; 
  padding: 20px; 
  margin: 0 auto; 
  border-bottom: 1px solid #f2f2f2; 
} 

.Nav-Links {
  margin-left: auto; 
} 

.Navbar a {
  text-decoration: none; 
  padding: 6px; 
  margin-left: 5px; 
  color: black; 
} 
/* End of Navbar */ 

/* .Content {
  max-width: 600px; 
  margin: 40px auto; 
  padding: 20px; 
}  */

/* Shop Page */
.Products-List {
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap; 
} 
/* End of Shop Page */


/* Product Details Display */
.Product-Preview {
  height: auto; 
  width: 200px; 
  padding: 20px; 
  border: 1px solid black; 
  margin: 10px 10px;
} 

.Product-Preview img {
  height: 100px; 
  width: 100px; 
}

.Product-Card {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 70px auto; 
  /* max-width: 1000px; */
  /* flex-wrap: wrap; */
} 

.Product-Card img {
  height: 400px; 
  width: 400px; 
  /* border: 1px solid black;  */
} 

.Product-Description {
  /* border: 1px solid black;  */
  height: auto; 
  width: 800px; 
  padding: 50px; 
} 
/* End of Product Details Display */