/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* My CSS */ 

* {
  box-sizing: border-box; 
} 

body {
  margin: 0px; 
  box-sizing: border-box; 
} 

/* Navbar & Footer */ 
/* Navbar */
.Navbar {
  background-color: black; 
  color: white; 
  display: flex; 
  align-items: center; 
  /* max-width: 600px;  */
  padding: 20px; 
  margin: 0 auto; 
  /* border-bottom: 1px solid #f2f2f2;  */
  position: sticky; 
  top: 0; 
  z-index: 1;
} 

.Nav-Links {
  margin-left: auto; 
} 

.Navbar a {
  color: white; 
  text-decoration: none; 
  padding: 6px; 
  margin-left: 5px;  
} 

/* Footer */ 
footer {
  height: 200px; 
  background-color: black; 
  color: #fff; 
  /* margin: 0px; 
  padding: 0px;  */
} 

footer p {
  padding-top: 30px; 
  padding-bottom: 5px;
} 

.Social-Links {
  margin-top: 0px; 
  margin-bottom: 20px; 
} 

.Social-Links a {
  color: #fff; 
  text-decoration: none; 
  padding: 10px; 
} 

.Footer-NavLinks {
  margin-top: 20px; 
  margin-bottom: 20px; 
} 

.Footer-NavLinks a {
  color: #fff; 
  text-decoration: none; 
  padding: 10px; 
} 

.Footer-Line {
  color: rgb(40, 241, 40); 
} 

.Footer-StoreName {
  margin-bottom: 0; 
} 
/* End of Navbar & Footer */ 


/* Loader / Loading */ 
/* .Loading-Wrapper {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 83vh; 
  background-color: rgba(50, 205, 50, 0.356); 
  margin-bottom: -16px; 
}  */

.Loading {
  height: 40px; 
  width: 40px; 
  border: 5px solid rgba(50, 205, 50, 0.356); 
  border-radius: 50%; 
  border-top-color: rgb(40, 241, 40); 
  /*margin: 40vh auto;*/    /* ! margin top/bottom affects where page loads to instead of the top */
  margin: 70px auto; 
  animation: spinner 1s linear infinite; 
} 

@keyframes spinner {
  0% {
    transform: rotate(0deg); 
  } 
  100% {
    transform: rotate(360deg); 
  } 
} 
/* End of Loader / Loading */ 

/* .Content {
  max-width: 600px; 
  margin: 40px auto; 
  padding: 20px; 
}  */ 


/* Home Page */ 
/* Header */ 
.Home-Header {
  height: 77vh; 
  background-image: url("../src/images/sale.jpg"); 
  background-position: center; 
  background-size: cover; 
  background-repeat: no-repeat; 
} 

/* Categories Section */ 
.Categories {
  text-align: center; 
  padding: 20px; 
  margin-top: 30px; 
  margin-bottom: 30px; 
} 

.Category-Title {
  text-align: center; 
  padding: 20px; 
  border: 3px solid limegreen;  
  border-left: none; 
  border-right: none; 
  background-color: rgba(50, 205, 50, 0.356); 
} 

.Category-List {
  display: flex; 
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap; 
  padding: 20px; 
} 

.Womens, .Mens, .Jewelry, .Electronics {
  height: 200px; 
  width: 500px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-size: 25px; 
  color: #fff; 
  text-shadow: 0 0 15px black; 
  margin: 10px; 
} 

.Womens {
  border-top-left-radius: 100px; 
  border-bottom-right-radius: 100px; 
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../src/images/womens-clothes.jpg"); 
  background-position: center; 
  background-size: cover; 
  background-repeat: no-repeat; 
} 

.Mens {
  border-top-right-radius: 100px; 
  border-bottom-left-radius: 100px; 
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../src/images/mens-clothes.jpg"); 
  background-position: center; 
  background-size: cover; 
  background-repeat: no-repeat; 
} 

.Jewelry {
  border-top-right-radius: 100px; 
  border-bottom-left-radius: 100px; 
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../src/images/jewelry.jpg"); 
  background-position: center; 
  background-size: cover; 
  background-repeat: no-repeat; 
} 

.Electronics {
  border-top-left-radius: 100px; 
  border-bottom-right-radius: 100px; 
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../src/images/technology.jpg"); 
  background-position: center; 
  background-size: cover; 
  background-repeat: no-repeat; 
} 

.Shop-Button {  
  background-color: limegreen; 
  color: white; 
  padding: 10px; 
  font-size: 20px; 
  border: none; 
  border-radius: 5px; 
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff; 
  cursor: pointer; 
  transition: all 0.5s; 
} 

.Shop-Button:hover {
  background-color: rgb(40, 241, 40); 
} 

/* Slogan Section */ 
.Slogan-Mailing {
  display: flex; 
  justify-content: center; 
  /* flex-wrap: wrap; */
  margin-bottom: -16px; 
} 

.Slogan {
  text-align: center; 
  font-size: 25px; 
  background-color: rgba(0, 0, 0, 0.5); 
  color: #fff; 
  padding: 50px; 
  width: 100%; 
} 

/* Mailing List Section */ 
.Mailing-List {
  text-align: center; 
  background-color: rgba(50, 205, 50, 0.356); 
  padding: 50px; 
  width: 100%; 
} 

.Mailing-List h3 {
  font-size: 20px; 
  padding: 10px; 
  margin-bottom: 10px; 
} 

.Mailing-List p {
  font-weight: bold; 
  margin-bottom: 15px; 
} 

.Mailing-List input {
  font-size: 16px; 
  border-radius: 5px; 
  border-color: limegreen; 
  outline: none; 
  padding: 5px; 
  margin: 10px; 
} 

.Mailing-List button {
  background-color: limegreen; 
  color: white; 
  width: 60px;
  padding: 8px; 
  font-size: 16px; 
  border: none; 
  border-radius: 5px; 
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff; 
  cursor: pointer; 
  transition: all 0.5s; 
} 

.Mailing-List button:hover {
  background-color: rgb(40, 241, 40); 
} 
/* End of Home Page */


/* Shop Page */ 
/* Header */ 
.Shop-Header {
  height: 70vh; 
  width: 100%; 
  background-image: url("../src/images/summer-sale-banner.jpg"); 
  background-position: center; 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  margin: auto; 
} 

/* Error Message */ 
.Error-Message {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 70vh; 
  font-weight: bold; 
  background-color: rgba(50, 205, 50, 0.356); 
  margin-bottom: -16px; 
} 

/* Products List Display */ 
.Shop-Title {
  text-align: center; 
  margin-top: 50px; 
} 

.Products-List {
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap; 
  padding: 20px; 
  text-align: center; 
} 

.Product-Preview {
  height: auto; 
  width: 200px; 
  padding: 20px; 
  border: 1px solid #cbced1; 
  border-radius: 5px; 
  margin: 10px; 
  position: relative; 
  transition: all 0.5s ease; 
} 

.Product-Preview:hover {
  scale: (1.1); 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(0, 0, 0, 0.1); 
} 

.Product-Preview img {
  height: 120px; 
  width: 100px; 
} 

.Product-Preview h4 {
  /* text-align: start;  */
  padding: 0 5px; 
  margin-top: 10px; 
} 

.Product-Preview p {
  padding: 0px; 
  margin-bottom: 35px; 
} 

.Product-Preview button {
  background-color: limegreen; 
  color: white; 
  padding: 8px; 
  font-size: 14px; 
  border: none; 
  border-radius: 5px; 
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff; 
  position: absolute; 
  bottom: 5px; 
  right: 37px; 
  margin-bottom: 5px; 
  cursor: pointer; 
  transition: all 0.5s; 
} 

.Product-Preview button:hover {
  background-color: rgb(40, 241, 40); 
} 
/* End of Shop Page */ 


/* Product Details Display Page */ 
.Product-Card {
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
  padding: 20px; 
  margin: 40px auto; 
  /* max-width: 1000px; */
  /* flex-wrap: wrap; */
} 

.Product-Card img {
  height: 400px; 
  width: 400px; 
} 

.Product-Description {
  height: auto; 
  width: 800px; 
  padding: 50px; 
  padding-right: 0px; 
} 

.Product-Card input {
  padding: 5px; 
  font-size: 16px; 
  border-color: limegreen; 
  outline: none; 
} 

.Product-Card button {
  background-color: limegreen; 
  color: white; 
  padding: 8px; 
  font-size: 16px; 
  border: none; 
  border-radius: 5px; 
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff; 
  margin: 0 10px; 
  cursor: pointer; 
  transition: all 0.5s; 
} 

.Product-Card button:hover {
  background-color: rgb(40, 241, 40); 
} 
/* End of Product Details Page */ 


/* Login Page */ 
.Login-Section {
  padding: 10px; 
  display: flex; 
  justify-content: center; 
} 

.Login {
  width: 350px; 
  height: 455px; 
  padding: 35px; 
  border-radius: 40px; 
  background-color: #ecf0f3; 
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #cbced1; 
  margin: auto; 
  margin-top: 60px; 
  margin-bottom: 60px; 
} 

.Login h2 {
  text-align: center; 
  margin-bottom: 25px; 
} 

.Login-Labels {
  font-size: 20px; 
  font-weight: bold; 
} 

.Login-Inputs {
  width: 100%; 
  background: none; 
  outline: none; 
  border: none; 
  border-radius: 25px; 
  font-size: 18px; 
  padding: 15px 22px;  
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff; 
  margin-top: 10px; 
  margin-bottom: 20px; 
} 

.Login-Button {
  height: 35px; 
  width: 100%; 
  border-radius: 25px; 
  border: none;
  font-size: 20px; 
  background-color: limegreen;
  color: white; 
  margin-top: 20px; 
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff; 
  cursor: pointer; 
  transition: all 0.5s; 
} 

.Login-Button:hover {
  background-color: rgb(40, 241, 40); 
} 

.Login-ErrorMessage {
  text-align: center; 
  font-weight: bold; 
  margin-top: 20px; 
  margin-bottom: 10px; 
} 
/* End of Login Page */ 


/* Page Not Found */ 
.Not-Found {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../src/images/not-found-background.jpg"); 
  background-position: center; 
  background-size: cover; 
  background-repeat: no-repeat; 
  height: 82vh; 
  width: 100%; 
  color: white; 
  display: flex; 
  align-items: center; 
  margin-bottom: -16px; 
} 

.Not-FoundText {
  padding: 30px; 
  text-align: center; 
} 

.Not-FoundText h1 {
  font-size: 70px; 
  padding: 0px; 
  margin: 0px; 
} 

.Not-FoundText p {
  font-size: 17px; 
  margin-bottom: 40px; 
} 

.Link-BackHome {
  color: #fff; 
  text-decoration: none; 
  padding: 8px; 
  border: 1px solid limegreen; 
  border-radius: 5px; 
  background-color: rgba(0, 0, 0, 0.7); 
} 
/* End of Page Not Found */ 


/* Media Queries */ 
@media (max-width: 735px) {
  .Product-Card {
    flex-wrap: wrap; 
  } 
  .Product-Card img {
    margin: auto; 
  } 
  .Product-Description {
    padding: 20px 40px; 
  } 
} 

@media (max-width: 622px) {
  .Slogan-Mailing {
    flex-wrap: wrap; 
    margin-bottom: -17px; 
  } 
  .Slogan {
    padding: 25px; 
  } 
  .Mailing-List {
    padding: 25px; 
  } 
} 